#Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Pages
RewriteRule ^home?$ index.php [L]
RewriteRule ^about?$ index.php?od=about
RewriteRule ^stream?$ index.php?od=stream
RewriteRule ^contest?$ index.php?od=contest
RewriteRule ^chat_commands?$ index.php?od=chat_cmd
RewriteRule ^support?$ index.php?od=support
RewriteRule ^points_n_rewards?$ index.php?od=points_n_rewards
# Mods
RewriteRule ^mods/fs19?$ index.php?od=fs19_mods
RewriteRule ^mods/ksp?$ index.php?od=ksp_mods